.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes ul {
    font-size: 15px;
}
.menu-opcoes a {
    color: #003366;
    text-decoration: none;
}
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}
.container {
    margin: 0 auto;
    width: 940px;
    
}
header {
    position: relative;

}
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

#titulo-principal{
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}
p {
    padding: 0 45px;
    text-indent: 15px;
}
figure {
    background-color: #F2EDED;
    border: 1px solid #c0bdbd;
    text-align: center;
    padding: 15px;
    margin: 30px;
}
figcaption {
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    
}
body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
body header {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#centro-distribuicao {
    margin-left: auto;
    margin-right: auto;
    width: 550px;

}
#rodape {
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
}
#rodape img {
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}
#familia-pelho {
    float: right;
    margin: 0 0 10px 10px;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer.container {
    position: relative;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}
.social a[href="https://www.facebook.com/mirrorfashion"] {
    background-image: url(../img/facebook.png);
}
.social a[href="https://twitter.com/mirrorfashion"] {
    background-image: url(../img/twitter.png);
}
.social a[href="https://plus.google.com/mirrorfashion"] {
    background-image: url(../img/googleplus.png);
} 
.social li {
    float: left;
    margin-left: 25px;
    position: relative;
    top: 1980px;
    right: 500px;
}

    /*aqui é uma técnica para colocar uma imagem encima do texto e 
     o text-indent negativo faz com que o texto saia da área de visão do usuário
    e deixando somente a imagem*/
    

